*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf") format('truetype');
}
.container{
    width: 1180px;
    margin: auto;
}
.mainSection{
    margin-left: 5%;
}
.mainSection>img{
    margin-top: 2%;   
}
.iconAndTitle{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    gap: 3%;
}
.iconAndTitle div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.bigImage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bigImage .leftSide{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 15%;
}
.bigImage .leftSide>h1{
    font-size: 360%;
    line-height: 100%;
    text-align: left;    
    width: 80%;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.bigImage .leftSide p{
    font-size:125%;
    font-weight: 400;
    line-height: 140%;
    margin-top: 2%;  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
    width: 70%;
}

.bigImage .images {
    position: relative;
    display: inline-block;
}

.bigImage .images img {
    display: block;
    max-width: 100%;
}

.bigImage .images .shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.bigImage .images .man {
    position: relative;
    z-index: 1;
    animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
        /* Kişiyi 20px yukarı kaldırıyoruz */
    }
    100% {
        transform: translateY(0);
        /* Kişiyi orijinal konumuna geri döndürüyoruz */
    }
}

.textArea{
    display: flex;
    flex-direction: column;
    background: #1E4681;
    width: 35%;
    height: 15vh;
    border-radius: 5px 0px 0px 0px;
    margin: auto;
    margin-top: 4%;
    padding-top: 2%;
    align-items: center;
}
.textArea>p{
    font-family: "Roboto Slab", sans-serif;
    color: #FFFFFF;
    width: 90%;
}
.textArea div{
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 5%;
    margin-right: 5%;
    color: white;
    font-family: "Roboto", sans-serif;   
}
@media screen and (max-width:834px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .mainSection{
        margin-left: 5%;
    }
   
    .mainSection>img{
        margin-top: 5%;   
    }
    
    .iconAndTitle div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }
    .bigImage{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .bigImage .leftSide{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-right: 15%;
    }
    .bigImage .leftSide>h1{
        font-size: 250%;
    }
    .bigImage .leftSide p{
        font-size:104%;
        line-height: 130%;
        margin-top: 6%;  
        font-family: "Roboto", sans-serif;
        width: 90%;
    }
    
    .textArea{
        display: flex;
        flex-direction: column;
        background: #1E4681;
        width: 50%;
        height: 18vh;
        border-radius: 5px 0px 0px 0px;
        margin: auto;
        padding-top: 4%;
        align-items: center;
        margin-top: 8%;
    }
    .textArea>p{
        font-family: "Roboto Slab", sans-serif;
        color: #FFFFFF;
        width: 90%;
    }
    .textArea div{
        align-self: flex-end;
        margin-top: auto;
        margin-bottom: 5%;
        margin-right: 5%;
        color: white;
        font-family: "Roboto", sans-serif;   
    }
}
@media screen and (max-width:375px) {
    .container{
        width: 320px;
        margin: auto;
    }
    .mainSection>img{
        width: 40%;
        margin-top:25%;  
        
    }
    .mainSection{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .iconAndTitle{
        display: flex;
        flex-direction: row;
        margin-top: 15%;
        gap: 4%;
    }
    .iconAndTitle div img{
        width: 13%;
    }
    .iconAndTitle div span{
        font-size: 90%;
    }
    .iconAndTitle div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .bigImage{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .bigImage .leftSide{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-right: 10%;
    }
    .bigImage .leftSide>h1{
        font-size: 250%;
        line-height: 100%;
        text-align: left;    
        width: 100%;
        margin-top: 20%;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    .bigImage .leftSide p{
        font-size:125%;
        font-weight: 400;
        line-height: 90%;
        margin-top: 10%;  
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;  
        width: 100%;
    }
    
    .bigImage .images {
        position: relative;
        display: inline-block;
        margin-top: 10%;
        margin-left: 55%;
        width: 50%;
    }
    
    .bigImage .images img {
        display: block;
        width: 100%;
    }
    
    .bigImage .images .shadow {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    
    .bigImage .images .man {
        position: relative;
        z-index: 1;
        animation: moveUpDown 2s ease-in-out infinite;
    }
    
    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
            /* Kişiyi 20px yukarı kaldırıyoruz */
        }
        100% {
            transform: translateY(0);
            /* Kişiyi orijinal konumuna geri döndürüyoruz */
        }
    }
    
    .textArea{
        display: flex;
        flex-direction: column;
        background: #1E4681;
        width: 70%;
        height: 15vh;
        border-radius: 5px 0px 0px 0px;
        margin: auto;
        margin-top: 14%;
        padding-top: 2%;
        align-items: left;
    }
    .textArea>p{
        font-family: "Roboto Slab", sans-serif;
        color: #FFFFFF;
        width: 90%;
    }
    .textArea div{
        align-self: flex-end;
        margin-top: auto;
        margin-bottom: 5%;
        margin-right: 5%;
        color: white;
        font-family: "Roboto", sans-serif;   
    }
    
}
.courseSection{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.courseSection>h2{
    font-family: Roboto Slab;
    font-size: 300%;
    font-weight: 900;
    text-align: left;    
    color: #000;
}
.courseSection .photoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.courseSection .photoSection .text{
    width: 45%;
    line-height: 110%;
    margin-right: 45%;
    display: flex;
    flex-direction: column;
    gap: 14%;
}
.courseSection .photoSection .text p{
    font-family: "Roboto";
    text-align: left;
}
.photoSection .images {
    position: relative;
    display: inline-block;
}

.photoSection .images img {
    display: block;
    width: 100%;
}

.photoSection .images .shadow {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.photoSection .images .man {
    position: relative;
    z-index: 1;
    animation: moveUpDown 2s ease-in-out infinite;
}
.clockSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    gap: 15%;
}
.clockSection .images{
    position: relative;
    display: inline-block;
}

.clockSection .images img {
    display: block;
    width: 100%;
}

.clockSection .images .shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.clockSection .images .man {
    position: relative;
    z-index: 1;
    animation: moveUpDown 2s ease-in-out infinite;
}
.clockSection div{
    width: 10%;
    display: flex;
    flex-direction: column;
}
.clockSection div h3{
    font-family: Roboto;
    font-size: 150%;
    font-weight: 700;
    text-align: left;    
}
.clockSection div p{
    margin-top: 6%;
    font-family: "Roboto";
    font-size: 90%;
    font-weight: 400;
    line-height: 23.4px;
}
@media screen and (max-width:834px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .courseSection{
        margin-top: 10%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    .courseSection>h2{
        font-family: Roboto Slab;
        font-size: 300%;
        font-weight: 900;
        text-align: left;    
        color: #000;
    }
    .courseSection .photoSection{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }
    .courseSection .photoSection .text{
        width: 50%;
        line-height: 110%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        gap: 40%;
    }
    .courseSection .photoSection .text p{
        font-family: "Roboto";
        text-align: left;
    }
    .courseSection .photoSection .text p:nth-child(2){
        margin-top: 15%;
    }
    .photoSection .images {
        position: relative;
        display: inline-block;
    }
    
    .photoSection .images img {
        display: block;
        width: 60%;
        left: 40%;
        bottom: -10%;
    }
    
    .photoSection .images .shadow {
        position: absolute;
        bottom: 15%;
        left: 70%;
        transform: translateX(-50%);
        z-index: -1;
    }
    
    .photoSection .images .man {
        position: relative;
        z-index: 1;
        animation: moveUpDown 2s ease-in-out infinite;
    }
    .clockSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 15%;
        margin-left: 0%;
    }
    .clockSection .images{
        position: relative;
        display: inline-block;
    }
    
    .clockSection .images img {
        display: block;
        width: 150%;
    }
    
    .clockSection .images .shadow {
        position: absolute;
        bottom: 0;
        left: 70%;
        transform: translateX(-50%);
        z-index: -1;
    }
    
    .clockSection .images .man {
        position: relative;
        z-index: 1;
        animation: moveUpDown 2s ease-in-out infinite;
    }
    .clockSection div{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .clockSection div h3{
        font-family: Roboto;
        font-size: 130%;
        font-weight: 700;
        text-align: left;    
    }
    .clockSection div p{
        margin-top: 6%;
        font-family: "Roboto";
        font-size: 90%;
        font-weight: 400;
        line-height: 150%;
    }
}

@media screen and (max-width:375px) {
    .container{
        width: 320px;
        margin: auto;
    }
    .courseSection{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .courseSection>h2{
        font-family: Roboto Slab;
        font-size: 250%;
        font-weight: 900;
        text-align: left;    
        color: #000;
    }
    .courseSection .photoSection{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .courseSection .photoSection .text{
        width: 100%;
        line-height: 120%;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        gap: 20%;
    }
    .courseSection .photoSection .text p{
        font-family: "Roboto";
        text-align: left;
    }
    .courseSection .photoSection .text p:nth-child(2){
        margin-top: 10%;
    }
    .photoSection .images {
        position: relative;
        display: inline-block;
    }
    
    .photoSection .images img {
        display: block;
        width: 60%;
        left: 25%;
        bottom: 0%;
        margin-top: 20%;
    }
    
    .photoSection .images .shadow {
        position: absolute;
        bottom: -5%;
        left: 60%;
        transform: translateX(-60%);
        z-index: -1;
    }
    
    .photoSection .images .man {
        position: relative;
        z-index: 1;
        animation: moveUpDown 2s ease-in-out infinite;
    }
    .clockSection{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items:center;
        margin-top: 25%;
        margin-left: 10%;
        flex-wrap: wrap;
        gap: 20px;
        width: 400px;
    }
    .clockSection .images{
        display: none;
    }
  
    .clockSection div{
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    .clockSection div h3{
        font-family: Roboto;
        font-size: 150%;
        font-weight: 700;
        text-align: left;    
    }
    .clockSection div p{
        margin-top: 6%;
        font-family: "Roboto";
        font-size: 90%;
        font-weight: 400;
        line-height: 23.4px;
    }
    
}

.formatSection{
    margin-top: 15%;
    margin-left: 5%;
}
.formatSection>h1{
    font-family: Roboto Slab;
    font-size: 280%;
    font-weight: 700;
    text-align: left;    
}
.formatSection .texts{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.formatSection .texts div{
    width: 20%;
}
.formatSection .texts div h3{
    font-family: Roboto;
    font-size: 150%;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    color: #1E4681;
}
.formatSection .texts div p{
    font-family: Roboto;
    font-size: 100%;
    font-weight: 400;
    line-height: 150%;
    text-align: left;    
}
@media screen and (max-width:834px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .formatSection{
        margin-top: 25%;
        margin-left: 5%;
    }
    .formatSection>h1{
        font-family: Roboto Slab;
        font-size: 280%;
        font-weight: 700;
        text-align: left;    
    }
    .formatSection .texts{
        margin-top: 10%;
        display: flex;
        gap: 10%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .formatSection .texts div{
        width: 40%;
    }
    .formatSection .texts div h3{
        font-family: Roboto;
        font-size: 100%;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        color: #1E4681;
    }
    .formatSection .texts div p{
        font-family: Roboto;
        font-size: 100%;
        font-weight: 400;
        line-height: 150%;
        margin-top: 10%;
        text-align: left;    
    }
}

@media screen and (max-width:375px) {
    .container{
        width: 320px;
        margin: auto;
    }
    .formatSection{
        margin-top: 25%;
        margin-left: 10%;
    }
    .formatSection>h1{
        font-family: Roboto Slab;
        font-size: 200%;
        font-weight: 700;
        text-align: left;    
    }
    .formatSection .texts{
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .formatSection .texts div{
        width: 100%;
        margin-top: 10%;
    }
    .formatSection .texts div h3{
        font-family: Roboto;
        font-size: 200%;
        font-weight: 700;
        line-height: 150%;
        text-align: left;
        color: #1E4681;
    }
    .formatSection .texts div p{
        font-family: Roboto;
        font-size: 150%;
        font-weight: 400;
        line-height: 150%;
        text-align: left;    
    }
}
.listSection{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.listSection>h1{
    font-family: Roboto Slab;
    font-size: 300%;
    font-weight: 700;
    line-height: 30%;
    text-align: left;    
}
.listSection ul{
    margin-top: 7%;
    margin-left: 2%;
    width: 60%;
}
.listSection ul li{
    font-family: Roboto;
    font-size: 150%;
    font-weight: 400;
    line-height: 150%;
    text-align: left;     
}

@media screen and (max-width:834px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .listSection>h1{
        font-family: Roboto Slab;
        font-size: 250%;
        font-weight: 700;
        line-height: 30%;
        text-align: left;    
        margin-left: 3%;
    }
    .listSection ul{
        margin-top: 7%;
        margin-left: 7%;
        width: 60%;
    }
    .listSection ul li{
        font-family: Roboto;
        font-size: 120%;
        font-weight: 400;
        line-height: 150%;
        text-align: left;     
    }
}

@media screen and (max-width:375px) {
    .container{
        width: 320px;
        margin: auto;
    }
    .listSection{
        margin-top: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
    }
    .listSection>h1{
        font-family: Roboto Slab;
        font-size: 300%;
        font-weight: 700;
        line-height: 30%;
        margin-bottom: 10%;
        text-align: left;    
    }
    .listSection ul{
        margin-top: 10%;
        margin-left: 4%;
        width: 100%;
        margin-left: 5%;
    }
    .listSection ul li{
        font-family: Roboto;
        font-size: 100%;
        font-weight: 400;
        line-height: 120%;
        text-align: left;     
    }
}

.cardSection{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
}
.cardSection>h1{
    font-family: Roboto Slab;
    font-size: 300%;
    font-weight: 700;
    line-height: 100%;
    text-align: left;    
    margin-bottom: 5%;
    margin-left: 3%;
}
.cardSection .boxs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
}
.cardSection .boxs .box{
    width: 30%;
    box-shadow: 1px 1px 15px 0px #00000040;
    border-radius: 30px;
    cursor: pointer;
    padding-bottom: 2%;
    margin-top: 2%;
}
.cardSection .boxs .box:hover{  
    transform: scale(1.05);
}
.cardSection .boxs .box>img{
    width: 100%;
}

.cardSection .boxs .box .bottomSide>h2{
    font-family: Roboto;
    font-size: 150%;
    font-weight: 700;
    line-height: 200%;
    margin-left: 5%;
}
.cardSection .boxs .box .bottomSide p{
    font-family: Roboto;
    font-size: 150%;
    font-weight: 400;
    line-height: 120%;
    margin-left: 5%;  
    margin-top: 5%;  
    width: 70%;
}
@media screen and (max-width:834px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .cardSection{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
    }
    .cardSection>h1{
        font-family: Roboto Slab;
        font-size: 250%;
        font-weight: 700;
        line-height: 100%;
        text-align: left;    
        margin-bottom: 5%;
        margin-left: 3%;
    }
    .cardSection .boxs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
    }
    .cardSection .boxs .box{
        width: 30%;
        box-shadow: 1px 1px 15px 0px #00000040;
        border-radius: 30px;
        cursor: pointer;
        padding-bottom: 2%;
        margin-top: 2%;
    }
    .cardSection .boxs .box:hover{  
        transform: scale(1.05);
    }
    .cardSection .boxs .box>img{
        width: 100%;
    }
    
    .cardSection .boxs .box .bottomSide>h2{
        font-family: Roboto;
        font-size: 100%;
        font-weight: 700;
        line-height: 150%;
        margin-left: 5%;
    }
    .cardSection .boxs .box .bottomSide p{
        font-family: Roboto;
        font-size: 100%;
        font-weight: 400;
        line-height: 100%;
        margin-left: 5%;  
        margin-top: 5%;  
        width: 80%;
    }
}
@media screen and (max-width:375px) {
    .container{
        width: 320px;
        margin: auto;
    }
    .cardSection{
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 5%;
    }
    .cardSection>h1{
        font-family: Roboto Slab;
        font-size: 200%;
        width: 100%;
        font-weight: 700;
        line-height: 120%;
        text-align: start;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    .cardSection .boxs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
        margin-left: 5%;
    }
    .cardSection .boxs .box{
        width: 100%;
        box-shadow: 1px 1px 15px 0px #00000040;
        border-radius: 30px;
        cursor: pointer;
        padding-bottom: 2%;
        margin-top: 15%;
    }
    .cardSection .boxs .box:hover{  
        transform: scale(1.05);
    }
    .cardSection .boxs .box>img{
        width: 100%;
    }
    
    .cardSection .boxs .box .bottomSide>h2{
        font-family: Roboto;
        font-size: 150%;
        font-weight: 700;
        line-height: 200%;
        margin-left: 5%;
    }
    .cardSection .boxs .box .bottomSide p{
        font-family: Roboto;
        font-size: 120%;
        font-weight: 400;
        line-height: 100%;
        margin-left: 6%;  
        margin-top: 5%;  
        width: 90%;
        margin-bottom: 5%;
    }
}
.courseSectionn .container{
    width: 1180px;
    margin: auto;
}
.courseSectionn{
    background: #EFEFEF;
    padding-bottom: 5%;
}
.courseSectionn .container>h1{
    padding-top: 5%;
    font-family: Roboto Slab;
    font-size: 270%;
    font-weight: 700;
    line-height: 120%;
    text-align: left;    
}
.courseSectionn .container button{
    width: 45%;
    gap: 0px;
    opacity: 0px;       
    background: #FFFFFF;
    box-shadow: 1px 1px 20px 0px #d7d7d740;
    margin-top: 7%;
    display: flex;
    border-radius: 30px;
    flex-direction: column;   
    border: none;
}
.courseSectionn .container button>p{
    width:80%;
    margin-top: 5%;
    margin-left: 10%;
}
.courseSectionn .container button .avatar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.courseSectionn .container button .avatar>img{
    width:40%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 5%;
}
.courseSectionn .container button .avatar .facebookAndTitle{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.courseSectionn .container button .avatar .facebookAndTitle>h3{
    margin-top: 20%;
    font-family: Roboto Slab;
    font-size: 130%;
    font-weight: 900;
    line-height: 150%;
    text-align: left;    
}
.courseSectionn .container button .avatar .facebookAndTitle img{
    width: 15%;
}

@media screen and (max-width:834px) {
    .courseSectionn .container{
        width: 700px;
        margin: auto;
    }
    .courseSectionn{
        background: #EFEFEF;
        padding-bottom: 5%;
    }
    .courseSectionn .container>h1{
        padding-top: 5%;
        font-family: Roboto Slab;
        font-size: 220%;
        font-weight: 700;
        line-height: 120%;
        text-align: left;    
    }
    .courseSectionn .container button{
        width: 55%;
        gap: 0px;
        opacity: 0px;       
        background: #FFFFFF;
        box-shadow: 1px 1px 20px 0px #d7d7d740;
        margin-top: 7%;
        display: flex;
        border-radius: 30px;
        flex-direction: column;   
        border: none;
    }
    .courseSectionn .container button>p{
        width:85%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .courseSectionn .container button .avatar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .courseSectionn .container button .avatar>img{
        width:35%;
        margin-bottom: 10%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .courseSectionn .container button .avatar .facebookAndTitle{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }
    .courseSectionn .container button .avatar .facebookAndTitle>h3{
        margin-top: 25%;
        font-family: Roboto Slab;
        font-size: 130%;
        font-weight: 900;
        line-height: 120%;
        text-align: left;    
    }
    .courseSectionn .container button .avatar .facebookAndTitle img{
        width: 15%;
        margin-left: 5%;
    }
}
@media screen and (max-width:375px) {
    .courseSectionn .container{
        width: 320px;
        margin: auto;
    }
    .courseSectionn{
        background: #EFEFEF;
        padding-bottom: 5%;
        padding-left: 5%;
    }
    .courseSectionn .container>h1{
        padding-top: 5%;
        font-family: Roboto Slab;
        font-size: 220%;
        font-weight: 700;
        line-height: 120%;
        text-align: left;    
    }
    .courseSectionn .container button{
        width: 55%;
        gap: 0px;
        opacity: 0px;       
        background: #FFFFFF;
        box-shadow: 1px 1px 20px 0px #d7d7d740;
        margin-top: 7%;
        display: flex;
        border-radius: 30px;
        flex-direction: column;   
        border: none;
    }
    .courseSectionn .container button>p{
        width:85%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .courseSectionn .container button .avatar{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .courseSectionn .container button .avatar>img{
        width:35%;
        margin-bottom: 10%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .courseSectionn .container button .avatar .facebookAndTitle{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }
    .courseSectionn .container button .avatar .facebookAndTitle>h3{
        margin-top: 25%;
        font-family: Roboto Slab;
        font-size: 130%;
        font-weight: 900;
        line-height: 120%;
        text-align: left;    
    }
    .courseSectionn .container button .avatar .facebookAndTitle img{
        width: 15%;
        margin-left: 5%;
    }
}